@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .image-container img {
        width: 100px; /* Reduce the size of the profile picture */
        height: 100px;
    }
    .name {
        font-size: 0.8em; /* Make the name text smaller */
    }
    .info-block {
        padding: 10px;
        font-size: 0.9em; /* Reduce the font size in infoboxes */
    }
    .info-block h2 {
        font-size: 1.2em; /* Smaller headers in infoboxes */
    }
    .info-block p {
        font-size: 0.9em; /* Smaller paragraph text in infoboxes */
    }
    .favorite-cartoon {
        font-size: 0.8em; /* Make the favorite cartoon text smaller */
        margin-top: 10px; /* Add some margin to separate it from other content */
    }
}



/* styles.css */
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

* {
    user-select: none;
}
