/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
    .container {
        padding: 15px;
    }
    
    .info-container {
        flex-direction: column;
        gap: 15px;
    }
    
    .info-block {
        width: 80%; /* Reduce width for better fit */
        padding: 8px; /* Smaller padding */
        margin: 0 auto; /* Center the blocks */
        font-size: 0.9em; /* Smaller font size */
    }
    
    .info-block h2 {
        font-size: 1.2em; /* Smaller heading size */
    }
    
    .info-block p {
        font-size: 0.8em; /* Smaller text size */
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .image-container {
        max-width: 130px; /* Smaller image size */
    }
    
    .info-container {
        flex-direction: column;
        align-items: center; /* Center the info-container items */
    }

    .info-block {
        width: 85%; /* Adjust width to fit better on smaller screens */
        padding: 6px; /* Smaller padding */
        margin: 0 auto; /* Center the blocks */
        font-size: 0.8em; /* Smaller font size */
    }
    
    .info-block h2 {
        font-size: 1.1em; /* Smaller heading size */
    }
    
    .info-block p {
        font-size: 0.7em; /* Smaller text size */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }
    
    .image-container {
        max-width: 100px; /* Smaller image size */
    }
    
    .info-container {
        flex-direction: column;
        align-items: center; /* Center the info-container items */
    }

    .info-block {
        width: 90%; /* Increase width to fit better on very small screens */
        padding: 4px; /* Smaller padding */
        margin: 0 auto; /* Center the blocks */
        font-size: 0.7em; /* Smaller font size */
    }
    
    .info-block h2 {
        font-size: 1em; /* Smaller heading size */
    }
    
    .info-block p {
        font-size: 0.6em; /* Smaller text size */
    }
}



/* styles.css */
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

* {
    user-select: none;
}
